## Sets

Sets are an unordered collection of unique elements. We can construct them by using the set() function.
Examples:

In [1]:
x = set()

In [2]:
x

set()

In [5]:
#add elements to the set
x.add('number')
x.add(20)

In [6]:
x

{20, 'number'}

In [7]:
x.add('20.25')

In [8]:
#the output is not in order
x

{20, '20.25', 'number'}

In [12]:
new = set()
new.add(1)
new.add(2)
new.add(2)
new.add(3)
new.add(1)
new.add(5)
new.add(5)
new.add(5)
new.add(6)

In [13]:
new

{1, 2, 3, 5, 6}

### As above you saw, set() gives unique elements. so we can use it like when we need a list of unique values. Lets create a list with repeatative values and use set() to give unique value.

In [16]:
# Create a list with repeats
list1 = [1,1,2,2,3,3,4,4,5,6,7,7,8,8,8,9]

In [17]:
set(list1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## Boolean

As we know it gives True or False as boolean does.It also has a placeholder object called None.

In [18]:
a = True

In [19]:
a

True

In [20]:
15> 2

True

In [21]:
15 < 2

False

In [22]:
# none place holder
b = None

In [24]:
b

In [25]:
print(b)

None