## For Loop

A for loop acts as an iterator in Python; it goes through items that are in a sequence or any other iterable item. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

Here's the general format for a for loop in Python:

for item in object:
    statements to do stuff
    
start with some examples:

In [29]:
list = [1,2,3,4,5,6,7,8,9,10]

In [30]:
for num in list:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [31]:
for num in list:
    if num % 2 == 0:
        print(num,'even')

2 even
4 even
6 even
8 even
10 even

In [32]:
for num in list:
    if num % 2 == 0:
        print(num,'even')
    else:
        print(num,'odd')

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even

In [33]:
sum = 0
for num in list:
    sum += num
    print(sum)
print("Final Sum:",sum)

1
3
6
10
15
21
28
36
45
55
Final Sum: 55

In [34]:
sum = 0
for num in list:
    sum += num
print(sum)

55

In [35]:
sentence = 'i am learning'
for words in sentence:
    print(words)

i

a
m

l
e
a
r
n
i
n
g

In [36]:
for letter in 'i am string':
    print(letter)

i

a
m

s
t
r
i
n
g

In [37]:
tup = (1,2,3,'nirmal',4,5,6)
for t in tup:
    print(t)

1
2
3
nirmal
4
5
6

In [38]:
list = [(1,2),('nirmal','ojha'),(3,4)]

In [39]:
for tup in list:
    print(tup)

(1, 2)
('nirmal', 'ojha')
(3, 4)

In [40]:
print(list)

[(1, 2), ('nirmal', 'ojha'), (3, 4)]

In [41]:
for (t1,t2) in list:
    print(t1)

1
nirmal
3

In [42]:
d = {'k1':1,'k2':'nirmal','k3':3}

In [43]:
print(d)

{'k1': 1, 'k2': 'nirmal', 'k3': 3}

In [44]:
print(d.values)

<built-in method values of dict object at 0x00000160216B17E0>

In [45]:
d.values()

dict_values([1, 'nirmal', 3])

In [46]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [47]:
d.items()

dict_items([('k1', 1), ('k2', 'nirmal'), ('k3', 3)])

In [16]:
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
nirmal
k3
3

In [22]:
d1 = {'k1':6,'k2': 4,'k3':1}

In [23]:
sorted(d1.values())

[1, 4, 6]

In [24]:
d2 = {'k1':1,'k2':3,'k3':3}

In [25]:
sorted(d2.values())

[1, 3, 3]

In [51]:
d2.values()

dict_values([1, 3, 3])

In [53]:
d2.keys()

dict_keys(['k1', 'k2', 'k3'])