# Data Input and Output

##This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

In [1]:
import pandas as pd

In [2]:
import numpy as np

## Excel

Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

In [3]:
pd.read_excel('nir.xlsx')

  Unnamed: 0  A  B  C
0          X  5  6  1
1          Y  8  9  4
2          Z  2  3  7

In [4]:
df = pd.read_excel('nir.xlsx')

In [5]:
df

  Unnamed: 0  A  B  C
0          X  5  6  1
1          Y  8  9  4
2          Z  2  3  7

In [13]:
df.to_excel('nir.xlsx',sheet_name='Sheet1')

## CSV

In [11]:
df = pd.read_csv('start.csv')
df

   80  79  67  76
0  45  48  47  46
1  66  55  44  33
2  22  44  55  33

In [12]:
df.to_csv('start.csv',index=False)

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

- conda install lxml
- conda install html5lib
- conda install BeautifulSoup4

Then restart Jupyter Notebook. (or use pip install if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of html.